[*.cs]

# CS0108: Член скрывает унаследованный член: отсутствует новое ключевое слово
dotnet_diagnostic.CS0108.severity = silent

# CS0114: Член скрывает унаследованный член: отсутствует ключевое слово переопределения
dotnet_diagnostic.CS0114.severity = silent
